
{% load static %}

<!DOCTYPE HTML>

<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="max-age=60480" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="AUZAT MATHYS">
<meta name="robots" content="index, follow">

{% block title %}

{% endblock %}

<link href="{% static 'images/ -- .png' %}" rel="shortcut icon" type="image/x-icon">
 
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>


<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" media="screen"/>
<link rel="stylesheet" href="{% static 'css/nicepage_changed.css'%}" media="screen">
<script class="u-script" type="text/javascript" src="{% static 'js/jquery_changed.js'%}" defer=""></script>
<script class="u-script" type="text/javascript" src="{% static 'js/nicepage_changed.js'%}" defer=""></script>
<link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
<link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
<link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap" rel="stylesheet">
 
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet">

 



</head>
{% block script %}

{% endblock %}
<!-- navbar -->
{% include 'navbar.html' %}

{%  block content %}
<!-- content -->

{% endblock%}

<!-- footer -->
{% include 'footer.html' %}


 